{% extends 'base.html' %}

{% block head %}

<title>ChatGPT Blog</title>
{% endblock head %}
{% block content %}

<div class="container py-3">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for post in posts %}
        <div class="col">
            <div class="card h-100">
            <img src="{{post.featured.url}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title"><a href="{% url 'single_post' post.slug %}" class="text-decoration-none text-danger">{{post.title}}</a></h5>
                    <p class="card-text">{{post.content | truncatewords:30}}</p>
                </div>
            <div class="card-footer">
                <small class="text-muted">Last updated {{post.updated|timesince}} ago</small>
            </div>
        </div>
        </div>
        {% endfor %}
    </div>
</div>

  </ul>
</nav>


</div>
{% endblock content %}